.nawigacja {
    padding: 16px;
    display: none;
    &__--open {
      display: block;
    }
    &__link {
      color: #1460aa;
      display: block;
      margin: 0 0 8px;
    }
    &__link--homepage {
      background: #1460aa;
      color: #68a691;
    }
}