// @import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import "~normalize.css";
@import "_variables.scss";
@import "modules/nawigacja.scss";

.test {
  color: rgb(0, 47, 255);
  font-size: 18px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  
  background-color: #a79997;

  background-size: 100%;
  min-height: 100%;
  background-attachment: fixed;
}

.head {
}

.hamburger {
  position: absolute;

  top: 10px;
  right: 10px;
  border: none;
  background: none;
}

#podkreslenie {
  background: #b9a6ab;
}

nav a {
  color: #ff0054;
  display: inline-block;
  /* padding: 16px; */
}




.main {
  max-width: 1000px;
  margin: 30px auto 0;
}

.header {
  grid-area: header;
  width: 100vw;
  min-height: 60px;
  /* margin-top: 200px; */
  top: 0;
  width: 100%;

  &__pierwszy {
    /* margin-bottom: 60px; */
    position: fixed;
    width: 100vw;
    top: 0;
    background: #b9a6ab;
    // background-color: #faaca8;
    // background-image: linear-gradient(332deg, #faaca8 0%, #ddd6f3 61%);
    /* background: white; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
  }
}
.action {
  margin-top: 80px;
  background:#dab9c1;
}


.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}
.blok {
  padding: 15px;
  border: 1px #b9a6ab dashed;
  margin-top: 6px;


  &__fioletowy-h2 {

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 10px;
      background: #b34460;
    }
    padding: 5px;
    border: 2px #af1b3f solid;
    border-radius: 10px;
    background: #b9a6ab;
    }
  
  &__fioletowy-h2--special {
    border: 3px #af1b3f groove;
    background: transparent;
  }
  &__fioletowy-h2--modyfikator {
  }
}

b {
  color: #4d8874;
}

.pomysł {
  &__seledyn {
    color: #4d8874;
  }
  &__opis {
  }
}

h2 {
  color: #1460aa;
}

.malinowy__h1 {
  color: #af1b3f;
  top: 16px;
  margin-top: 40px;
}

.fioletowy-h2 {
  color: #3f5380;
  padding: 30px;
}

.footer {
  margin: 0px auto;
  padding-bottom: 16px;
}

.footer1 {
  max-width: 60%;
  margin: 10px auto;
  padding: 16px;
}

.main-malediwy {
  width: 60%;
  margin: 10px auto;
  padding: 16px;
}

.malediwyFoto {
  display: block;
  max-width: 100%;
}
.zdjecie-burza {
  display: block;
  max-width: 100%;
  margin: 60px auto;
}

.zdjecieJesien {
  display: block;
  margin: 40px auto;
  max-width: 100%;
}

.zdjęcie {
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  body {
    background-color: #626f9e;
    
  }

  .main {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";
    grid-template-columns: 1fr 30px 400px;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1000px;
    margin: 0px auto;
  }

  .footer {
    background-color: #b9a6ab;
    margin: 0 auto;
  }

  .klasa-z-js {
    background: #faaca8;
  }

  .nawigacja {
    background: #b9a6ab;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-width: 100vw;
  }

  nav a {
    padding: 16px;
  }
}
